*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.results{
    display:flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap:wrap;
    width:100%;
}

.card{
    border:solid 1px black;
    border-radius:5px;
}

#up{
    visibility:hidden;
}

#up:target{
    visibility:visible;
    margin: 6rem auto;
    padding: 2rem;
    background: blue;
    border-radius:5px;
    width:250px;
    position: relative;
}

img{
    width:200px;
    height:200px;
}