*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.results{
    display:flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap:wrap;
    width:100%;
}

.card{
    border:solid 1px black;
    border-radius:5px;
    /* background-color: aqua; */
    background-image: url(img/supermario1.jpg);
}

#up{
    visibility:hidden;
    /* display:none; */
}

#up:target{
    visibility:visible;
    margin: 6rem auto;
    padding: 2rem;
    background: blue;
    border-radius:5px;
    width:250px;
    position: relative;
    /* display:block; */
    transform: translate(-50%,-50%);
    /* -ms-transform: translate(-50%,-50%); */
 
}

img{
    width:200px;
    height:200px;
}